* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  background: url(./image/wall-g41fa39d4f_1920.jpg);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.app {
  background: rgb(209, 215, 212);
  background: linear-gradient(
    90deg,
    rgba(209, 215, 212, 1) 27%,
    rgba(164, 130, 84, 0.9360994397759104) 100%
  );
  margin: 0 10px;
  padding: 24px 10px 10px;
  border-radius: 16px;
  width: 90%;
  max-width: 600px;
  box-shadow: 3px 4px 10px 0px #181717;
  /* text-align: center; */
}

#password-output {
  background: transparent;
  font-size: 1.5rem;
  border: none;
  width: 100%;
}

.range-container {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="range"] {
    width: 160px;
    accent-color: black;
    height: 40px;
    cursor: grabbing;
}

#display-password-length{
    background: transparent;
    font-size: 1.1rem;
    border: none;
    width: 30px;
}

.checkbox-container {
    margin: 36px 0 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  input[type="checkbox"] {
    display: none;
  }
  input[type="checkbox"]:checked + label {
    transform: scale(1.3);
    filter: brightness(150%);
  }

  label {
    user-select: none;
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
    height: 60px;
    width: 60px;
    display: grid;
    justify-items: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.486);
    transition: 0.2s ease;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 600;
  }

  button {
    margin: 14px 0 20px;
    font-size: 1.4rem;
    background-image: linear-gradient(120deg, #7b7c79 0%, #eac184 100%);
    padding: 10px 20px;
    border-radius: 150px;
    border: 2px solid #accbee;
    border-bottom: 3px solid rgb(14, 14, 13);
    border-right: 3px solid rgb(105, 105, 103);
    transition: 0.2s;
    cursor: pointer;
  }
  button:hover {
    /* border: 2px solid rgba(255, 255, 255, 0.74); */
    border: 2px solid rgb(14, 14, 13);
    border-bottom: 3px solid #accbee;
    border-right: 3px solid rgb(105, 105, 103);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.32);
    transform: translateX(3px);
  }
  button:active {
    transform: scale(1.05);
  }